@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lucida Console", "Lucida Sans Typewriter", "Courier New",
    monospace;
}
