NEXT_PUBLIC_RECEIPT_CONTRACT_NAME=
NEXT_PUBLIC_RECEIPT_ROYALTY_FEE_MICRO=
NEXT_PUBLIC_RECEIPT_STAMP_FEE_MICRO=
NEXT_PUBLIC_RECEIPT_ADMIN_ADDRESS=
NEXT_PUBLIC_RECEIPT_CONTRACT_ADDRESS=
NEXT_PUBLIC_REOWN_PROJECT_ID=